.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container--xsm {
  width: $s_page_xsm;
}

.container--sm {
  width: $s_page_sm;
}

.container--md {
  width: $s_page_md;
}

.container--lg {
  width: $s_page_lg;
}

.container--xlg {
  width: $s_page_xlg;
}