.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container--xsm {
  @include respondTo_page(xsm) {
    width: $s_page_xsm;
  };
}

.container--sm {
  @include respondTo_page(sm) {
    width: $s_page_sm;
  };
}

.container--md {
  @include respondTo_page(md) {
    width: $s_page_md;
  };
}

.container--lg {
  @include respondTo_page(lg) {
    width: $s_page_lg;
  };
}

.container--xlg {
  @include respondTo_page(xlg) {
    width: $s_page_xlg;
  };
}