@mixin reset_button() {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 0;
}

@mixin resetInputField() {
  line-height: normal;
  border: none;
  outline: none;
  background: none;
  border-radius: 0; // ios
  padding: 0; // ios
  box-shadow: none; // firefox add boxShadow to invalid input
}