@import './theme';
@import './fontSize';

.u_displayFlex {
  display: flex !important;
}

.u_touchable {
  min-width: $s_touchable;
  min-height: $s_touchable;
}

.u_clickable {
  cursor: pointer !important;
}

.u_noScroll {
  overflow: hidden !important;
}

.u_clipText {
  @include clipText;
}

.u_flexCenter {
  @include center;
}

.u_flexCenter--col {
  @include center(column);
}

.u_bottomDivider {
  border-bottom: 1px solid $c_divider;
}

.u_bottomDivider--hideOnLastChild:last-child {
  border-bottom-width: 0;
}

.u_bottomDivider--makeSpace {
  margin-bottom: $s_gutter / 2;
  padding-bottom: $s_gutter / 2;
}

.u_hide {
  display: none !important;
}

.u_hide--visibility {
  visibility: hidden !important;
}

.u_readable {
  line-height: 2 !important;
}

$positionList: (
  right,
  left,
  center
);

@each $position in $positionList {
  .u_textAlign_#{$position} {
    text-align: $position !important;
  }
}

.u_vh {
  height: 100vh !important;
}

.u_fullWidth {
  width: 100% !important;
}

.u_fullHeight {
  height: 100% !important;
}

.u_pageBodyHeight {
  height: calc(100vh - #{$s_appBarHeight});
}

.u_viewBodyHeight {
  height: calc(100% - #{$s_appBarHeight});
}

.u_bold {
  font-weight: bold;
}

