@import './theme';
@import './fontSize';
@import './hide';


.u_display_flex, .u_display_flexbox {
  display: flex;
}

.u_display_block {
  display: block;
}

.u_touchable {
  min-width: $s_touchable;
  min-height: $s_touchable;
}

.u_clickable {
  cursor: pointer;
}

.u_noScroll {
  overflow: hidden;
}

.u_clipText {
  @include clipText;
}

.u_flexCenter {
  @include center;
}

.u_flexCenter_col {
  @include center(column);
}

.u_bottomDivider {
  border-bottom: 1px solid $c_divider;
}

.u_bottomDivider--hideOnLastChild:last-child {
  border-bottom-width: 0;
}

.u_bottomDivider--makeSpace {
  margin-bottom: $s_gutter / 2;
  padding-bottom: $s_gutter / 2;
}

.u_readable {
  line-height: 2;
}

.u_resetLineHeight {
  line-height: 1;
}

$positionList: (
  right,
  left,
  center
);

@each $position in $positionList {
  .u_textAlign_#{$position} {
    text-align: $position;
  }
}

.u_vh {
  height: 100vh;
}

.u_fullWidth {
  width: 100%;
}

.u_fullHeight {
  height: 100%;
}

.u_pageBodyHeight {
  height: calc(100vh - #{$s_appBarHeight});
}

.u_viewBodyHeight {
  height: calc(100% - #{$s_appBarHeight});
}

.u_bold {
  font-weight: bold;
}

