$s_page_xsm: 360px;
$s_page_sm: 480px;
$s_page_md: 600px;
$s_page_lg: 960px;
$s_page_xlg: 1440px;

$breakPoints: (
  'xxsm': 0,
  'xsm': $s_page_xsm,
  'sm': $s_page_sm,
  'md': $s_page_md,
  'lg': $s_page_lg,
  'xlg': $s_page_xlg,
);