@import './md_colors/variables';

$c_divider_black: rgba(black, 0.12);
$c_divider_white: rgba(white, 0.12);

$c_icon_black: rgba(black, 0.38);
$c_icon_white: rgba(white, 0.38);

$c_text_black_primary: rgba(black, 0.87);
$c_text_black_secondary: rgba(black, 0.54);
$c_text_black_tertiary: rgba(black, 0.38);

$c_text_white_primary: rgba(white, 1);
$c_text_white_secondary: rgba(white, 0.7);
$c_text_white_tertiary: rgba(white, 0.5);

$c_dialog_bg: rgba(black, 0.3);
