$c_text_primary: null;
$c_text_secondary: null;
$c_text_tertiary: null;
$c_icon: null;
$c_divider: null;

@if ($themeType == 'light') {
  $c_text_primary: $c_text_black_primary;
  $c_text_secondary: $c_text_black_secondary;
  $c_text_tertiary: $c_text_black_tertiary;

  $c_icon: $c_icon_black;
  $c_divider: $c_divider_black;
}

@else {
  $c_text_primary: $c_text_white_primary;
  $c_text_secondary: $c_text_white_secondary;
  $c_text_tertiary: $c_text_white_tertiary;

  $c_icon: $c_icon_white;
  $c_divider: $c_divider_white;
}

$colorMap: (
  'white': white,
  'black': black,
  'appPrimary': $c_primary,
  'appScondary': $c_secondary,
  'appAccent': $c_accent,
  'success': $c_success,
  'failed': $c_failed,
  'info': $c_info,
);