@import './theme';
@import './fontSize';


.u_display_flex, .u_display_flexbox {
  display: flex !important;
  &--wrap {
    flex-wrap: wrap !important;
  }
}

.u_display_block {
  display: block !important;
}

.u_touchable {
  min-width: $s_touchable !important;
  min-height: $s_touchable !important;
}

.u_clickable {
  cursor: pointer !important;
}

.u_noScroll {
  overflow: hidden !important;
}

.u_clipText {
  @include clipText;
}

.u_flexCenter {
  @include center;
}

.u_flexCenter_col {
  @include center(column);
}

.u_bottomDivider {
  border-bottom: 1px solid $c_divider !important;
}

.u_bottomDivider--hideOnLastChild:last-child {
  border-bottom-width: 0 !important;
}

.u_bottomDivider--makeSpace {
  margin-bottom: $s_gutter / 2 !important;
  padding-bottom: $s_gutter / 2 !important;
}

.u_readable {
  line-height: 1.5 !important;
}

.u_resetLineHeight {
  line-height: 1 !important;
}

$positionList: (
  right,
  left,
  center
) !important;

@each $position in $positionList {
  .u_textAlign_#{$position} {
    text-align: $position !important;
  }
}

.u_vh {
  height: 100vh !important;
}

.u_fullWidth {
  width: 100% !important;
}

.u_fullHeight {
  height: 100% !important;
}

.u_pageBodyHeight {
  height: calc(100vh - #{$s_appBarHeight}) !important;
}

.u_viewBodyHeight {
  height: calc(100% - #{$s_appBarHeight}) !important;
}

.u_bold {
  font-weight: bold !important;
}

.u_sticky_top {
  position: sticky !important;
  top: 0 !important;
}

.u_sticky_left {
  position: sticky !important;
  left: 0 !important;
}

.u_zIndex_dialog {
  z-index: $z_dialog !important;
}