.dataList_item {
  display: flex;
  padding-top: $s_gutter;
  background: $c_paper;


  &_primaryAction {
    @include center;
    margin-right: $s_gutter;
    padding-left: $s_gutter;
    padding-bottom: $s_gutter;
  }

  &_secondaryActions {
    display: flex;
    flex-direction: column;
    padding-bottom: $s_gutter;
    padding-right: $s_gutter;

    &_row {
      color: $c_text_secondary;
      flex: 1;
      display: flex;
      justify-content: flex-end;

      &:nth-of-type(1) {
        display: flex;
        align-items: flex-start;
      }

      &:nth-of-type(2) {
        display: flex;
        align-items: flex-end;
      }
    }
  }


  &_content {
    flex: 1;
    padding-bottom: $s_gutter;

    &_col {
      margin-right: $s_gutter / 2;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &_row {
      color: $c_text_secondary;
      display: flex;

      &:first-of-type {
        color: $c_text_primary;
      }

      margin-bottom: $s_gutter / 3;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}


.dataList_item--fullBleedDivider {
  border-bottom: 1px solid $c_divider;

  &:last-child {
    border-bottom-width: 0;
  }
}

.dataList_item--insetDivider {
 .dataList_item_secondaryActions,
 .dataList_item_content {
    border-bottom: 1px solid $c_divider;
  }
}