.infoBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $s_gutter;

  &:empty {
    padding: 0;
  }

  &_body {
    max-width: $s_page_lg;
  }

  &--info {
    background-color: $blue-100;
    color: $blue-900;
  }

  &--success {
    background-color: $green-100;
    color: $green-900;
  }

  &--warning {
    background-color: $amber-100;
    color: $amber-900;
  }

  &--error {
    background-color: $red-100;
    color: $red-900;
  }
}
