
.layout {
  &_leftAside {
    position: fixed;
    top: 0;
    left: 0;
  }

  &_main {
    min-height: 100vh;
    position: relative;
    padding-top: $s_appBarHeight;



    &_header {
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      z-index: $z_navDrawer - 1;
    }

    &_body {
      &_inner {

        min-height: calc(100vh - #{$s_appBarHeight});
        position: relative;
      }
    }
  }
}


@include respondTo_page(lg) {
  .is_drawerOpen {

    .layout_main_header {
      z-index: $z_navDrawer + 1;
    }

    .layout_main_body {
      padding-left: $s_navDrawerWidth;
    }
  }
}


@media screen and (min-width: 1920px) {
  .is_drawerOpen {
    .layout_main_body_inner {
      .container {
        position: relative;
        left: -$s_navDrawerWidth / 2;
      }

      .container--xlg {
        left: initial;
      }

      .container--noLeftAdjust {
        left: initial;
      }
    }
  }
}
