.appBar {
  height: $s_appBarHeight;
  background: $c_appBar_bg;
  color: $c_appBar_text;
  position: relative;

  > .actionBar {
    height: 100%;
  }

  .iconButton,
  .rwdFlatButton,
  .linkButton {
    @include coloredFlatBtn(white);
  }

  .iconButton[disabled],
  .linkButton[disabled],
  .rwdFlatButton[disabled] {
    color: $c_text_secondary;
  }

  &--shadow {
    @include depth(4);
  }
}

.appBar--light {
  background: white;
  color: $c_text_black_primary;

  .iconButton,
  .rwdFlatButton,
  .linkButton {
    @include coloredFlatBtn($c_text_black_primary);
  }

  .iconButton[disabled],
  .linkButton[disabled],
  .rwdFlatButton[disabled] {
    color: $c_text_black_secondary;
  }

}

.globalAppBar {
  .appLogo {
    display: none;

    &::after {
      @include mdIcon;
      color: inherit;
      content: 'chevron_right';
      margin-left: $s_gutter;
      margin-right: $s_gutter;
    }
  }

  @include respondTo_page(lg) {
    .appLogo {
      display: flex;
    }

    .actionBar_title {
      display: flex;

      .actionBar_title_primary {
        font-size: $s_font_title;
        display: inline;
      }

      .actionBar_title_secondary {
        display: inline;
        font-size: $s_font_title;
        position: relative;
        color: white;

        &::before {
          content: '';
          width: 1px;
          height: 75%;
          left: -1px;
          top: 50%;
          transform: translateY(-50%);
          background-color: currentColor;
          position: absolute;
          opacity: 0.5;
        }

        margin-left: $s_gutter;
        padding-left: $s_gutter;
      }
    }
  };
}
