.bottomSheet {
  @include popup;
  display: flex;
  justify-content: center;

  &_front {
    max-width: $s_page_md;
    width: 100%;
    max-height: calc(100vh - #{$s_appBarHeight});
    position: absolute;
    bottom: 0;
    background: $c_bodyBg;
    display: flex;
    flex-direction: column;
    @include depth(24);
    transform: translateY(50%);
    opacity: 0;
    transition-duration: 300ms;

    &_body {
      flex: 1;
      position: relative;
      @include allowScroll('y');
    }
  }

  &.is_active &_front {
    transform: translateY(0);
    opacity: 1;
  }

  &_background {
    background: $c_dialog_bg;
    opacity: 0;
    transition-duration: 120ms;
  }

  &.is_active &_background {
    opacity: 1;
  }
}