.lazyImage {
  position: relative;

  &_placeholder {
    max-width: 100%;
    height: auto;
    background-color: #E8E8E8;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100%;
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition: 225ms;

    &.is_loaded {
      visibility: visible;
      opacity: 1;
    }
  }
}