.mdIcon, .material-icons {
  width: 24px;
  height: 24px;
  @include mdIcon;
  @include center;

  &--unbounded {
    width: auto;
    height: auto;
  }

  &--inheritColor {
    color: inherit;
  }
}


