.paper {
  background: $c_paper;
  color: $c_text_primary;
  @include depth(2);
}

.paper--border {
  border: 1px solid $c_divider;
  border-bottom: none;
}

.paper--stretch {
  border-radius: unset;
}

.paper--card {
  @include roundCorner();
  overflow: hidden;
}

@each $breakPointName, $breakPointSize in $breakPoints {
  @include respondTo_page($breakPointName) {
    .paper_#{$breakPointName}--stretch {
      border-radius: unset;
    }

    .paper_#{$breakPointName}--card {
      @include roundCorner();
      overflow: hidden;
    }
  }
}

