.radio {
  position: relative;
  width: 36px;
  height: 36px;
  @include center;

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }

  &_appearance {
    position: relative;
    width: 100%;
    height: 100%;


    &::before {
      content: '';
      position: absolute;
      @include circle(16px);
      border: 2px solid rgba(black, 0.54);
      top: 50%;
      left: 50%;
      margin-left: -8px;
      margin-top: -8px;
      transition: 175ms;
    }

    &::after {
      content: '';
      @include circle(8px);
      background-color: $c_primary;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-left: -4px;
      margin-top: -4px;
      transition: 175ms;
      transform: scale(0);
    }
  }

  input:checked + &_appearance {
    &::before {
      border-color: $c_primary;
    }

    &::after {
      transform: scale(1);
    }
  }
}

.radio--accent {
  .radio_appearance::after {
    background-color: $c_accent;
  }

  input:checked + .radio_appearance {
    &::before {
      border-color: $c_accent;
    }
  }
}