.toolBar {
  @include depth(2);
  position: relative;
  margin-bottom: $s_gutter;
  overflow: hidden;
  z-index: 0;

  &_static {
    height: $s_touchable;
    display: flex;
    align-items: center;
    padding: 0 $s_gutter/2;
  }
}
