
.slideUp {
  opacity: 0;
  transform: translateY(10px);

  &_active {
    transition: 300ms;
    transform: translateY(0);
    opacity: 1;
  }
}

.fadein {
  opacity: 0;

  &_active {
    transition: 300ms;
    opacity: 1;
  }
}

.fadeout {
  opacity: 1;

  &_active {
    transition: 300ms;
    opacity: 0;
  }
}


