@mixin reset_button() {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 0;
  -webkit-appearance: none;
}

@mixin resetButton() {
  @include reset_button;
}

@mixin resetInputField() {
  -webkit-appearance: none;
  line-height: normal;
  border: none;
  outline: none;
  background: none;
  box-shadow: none; // firefox add boxShadow to invalid input
  overflow: hidden; // fix ios cursor may move out of box
}

@mixin resetInput() {
  @include resetInputField;
}