$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;


$shadow-key-umbra-opacity: 0.2 * 0.6;
$shadow-key-penumbra-opacity: 0.14 * 0.6;
$shadow-ambient-shadow-opacity: 0.12 * 0.6;


// Focus shadow mixin.
@mixin focus-shadow() {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

@mixin shadow-0dp() {
  box-shadow: none;
}
@mixin shadow-1dp() {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 1px 3px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-2dp() {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 2px 2px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 1px 5px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-3dp() {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 3px 4px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 1px 8px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-4dp() {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 4px 5px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 1px 10px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-5dp() {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 5px 8px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 1px 14px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-6dp() {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 6px 10px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 1px 18px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-7dp() {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 7px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 2px 16px 1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-8dp() {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-9dp() {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 9px 12px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 3px 16px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-10dp() {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 10px 14px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 4px 18px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-11dp() {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 11px 15px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 4px 20px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-12dp() {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 12px 17px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 5px 22px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-13dp() {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 13px 19px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 5px 24px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-14dp() {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 14px 21px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 5px 26px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-15dp() {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 15px 22px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 6px 28px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-16dp() {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 16px 24px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 6px 30px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-17dp() {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 17px 26px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 6px 32px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-18dp() {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 18px 28px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 7px 34px 6px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-19dp() {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 19px 29px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 7px 36px 6px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-20dp() {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 20px 31px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 8px 38px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-21dp() {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 21px 33px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 8px 40px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-22dp() {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 22px 35px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 8px 42px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-23dp() {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 23px 36px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 9px 44px 8px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-24dp() {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0px 24px 38px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0px 9px 46px 8px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}

@mixin depth($d) {
  @if $d == -1 {  }
  @else if $d == 0 { @include shadow-0dp; }
  @else if $d == 1 { @include shadow-1dp }
  @else if $d == 2 { @include shadow-2dp }
  @else if $d == 3 { @include shadow-3dp }
  @else if $d == 4 { @include shadow-4dp }
  @else if $d == 5 { @include shadow-5dp }
  @else if $d == 6 { @include shadow-6dp }
  @else if $d == 7 { @include shadow-7dp }
  @else if $d == 8 { @include shadow-8dp }
  @else if $d == 9 { @include shadow-9dp }
  @else if $d == 10 { @include shadow-10dp }
  @else if $d == 11 { @include shadow-11dp }
  @else if $d == 12 { @include shadow-12dp }
  @else if $d == 13 { @include shadow-13dp }
  @else if $d == 14 { @include shadow-14dp }
  @else if $d == 15 { @include shadow-15dp }
  @else if $d == 16 { @include shadow-16dp }
  @else if $d == 17 { @include shadow-17dp }
  @else if $d == 18 { @include shadow-18dp }
  @else if $d == 19 { @include shadow-19dp }
  @else if $d == 20 { @include shadow-20dp }
  @else if $d == 21 { @include shadow-21dp }
  @else if $d == 22 { @include shadow-22dp }
  @else if $d == 23 { @include shadow-23dp }
  @else if $d == 24 { @include shadow-24dp }
}