@import '../scss/mixins/_index.scss';
@import './mixins';

.iconButton {
  @include circleButton(32px);
  @include flatButton;
  @include center;
  color: rgba(0, 0, 0, 0.38);
  .mdIcon {
    color: inherit;
  }
}

.linkButton {
  @include flatButton;
  @include rectangleButton($s_gutter / 2);

  &--bounded {
    .buttonContent {
      min-width: 4em;
    }
  }

  &--outline {
    border: 1px solid;
  }
}

.rwdFlatButton {
  @include circleButton(32px);
  @include flatButton;

  &_label {
    display: none;
    margin-left: $s_gutter / 4;
  }

  @include respondTo_page(md) {
    @include buttonBase;
    @include flatButton;
    @include rectangleButton($s_gutter / 2);

    width: initial;

    &_icon {
      flex-shrink: 0;
    }

    &_label {
      display: initial;
      flex-shrink: 0;
    }
  };
}

.paperButton {
  @include paperButton(2, 8);
  @include rectangleButton($s_gutter);

  &--bounded {
    .buttonContent {
      min-width: 4em;
    }
  }
}

.fab {
  @include paperButton(8, 12);
  @include circleButton(56px);

  background-color: $c_accent;
  color: $c_text_white_primary;

  .mdIcon {
    color: inherit;
  }

  &--mini {
    width: 40px;
    height: 40px;
  }
}
