.steppers {
  counter-reset: item;

  &_item {
    position: relative;
    padding-left: 36px;
    padding-bottom: 48px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: item;
      content: counter(item);
      width: 24px;
      height: 24px;
      font-size: 12px;
      @include center;
      @include circle;
      background-color: $c_primary;
      color: $c_text_white_primary;
    }

    &::after {
      content: '';
      position: absolute;
      top: 24px + 8px;
      bottom: 8px;
      left: 12px;
      width: 1px;
      background-color: $c_divider;
    }

    &.is_current::before {
      background-color: $c_accent;
    };

    &.is_future::before {
      background-color: $grey-500;
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }

    &_header {
      height: 24px;
      display: flex;
      align-items: center;
    }
  }
}

.steppers--compact {
  .steppers_item {
    padding-bottom: 24px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .steppers_item::after {
    top: 24px + 4px;
    bottom: 4px;
  }
}