@import './fontSize';
@import './breakPoints';
@import './color';

// size
$s_unit: 8px;
$s_touchable: $s_unit * 6;
$s_gutter: $s_unit * 2;

// component size
$s_navDrawerWidth: 240px;
$s_appBarHeight: 48px;
$s_icon: 24px;

// z index
$z_navDrawer: 20;
$z_appBar: 10;
$z_dialog: 30;